<nav class="bg-primary hidden">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button" (click)="setMenuOpen()"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    @if(!menuOpen){
                    <fa-icon [icon]="icons.bars" class="text-2xl text-contrast">
                    </fa-icon>
                    } @else {
                    <fa-icon [icon]="icons.x" class="text-2xl text-contrast">
                    </fa-icon>
                    }
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <!-- LOGO -->
                    <fa-icon [icon]="icons.personBiking"
                        class="text-2xl text-contrast"> </fa-icon>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a (click)="navigateTo('/')" 
                            [ngClass]="route === '/' ? 'lgNavItem lgNavItemLightSelected ':'lgNavItem lgNavItemLightPlain'">
                            Home
                        </a>
                        <a (click)="navigateTo('/about')"
                        [ngClass]="route === '/about' ? 'lgNavItem lgNavItemLightSelected ':'lgNavItem lgNavItemLightPlain'">
                            About Me
                        </a>
                        <a (click)="navigateTo('/services')"
                        [ngClass]="route === '/services' ? 'lgNavItem lgNavItemLightSelected ':'lgNavItem lgNavItemLightPlain'">
                            Services
                        </a>
                        <a (click)="navigateTo('/references')"
                        [ngClass]="route === '/references' ? 'lgNavItem lgNavItemLightSelected ':'lgNavItem lgNavItemLightPlain'">
                            References
                        </a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button type="button"
                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white">
                    <span class="absolute -inset-1.5"></span>
                    <fa-icon [icon]="icons.moon" class="text-contrast text-2xl"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    @if(menuOpen){
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a (click)="navigateTo('/')" [ngClass]="route === '/' ? 'mobileSelectedLight ':'mobileNavItemLight'">
                Home
            </a>
            <a (click)="navigateTo('/about')"[ngClass]="route === '/about' ? 'mobileSelectedLight ':'mobileNavItemLight'">
                About Me
            </a>
            <a (click)="navigateTo('/services')" [ngClass]="route === '/services' ? 'mobileSelectedLight ':'mobileNavItemLight'" >
                Services
            </a>
            <a (click)="navigateTo('/test')" [ngClass]="route === '/references' ? 'mobileSelectedLight ':'mobileNavItemLight'">
                References
            </a>
        </div>
    </div>
    }
</nav>